/* @import 'node_modules/modern-normalize/modern-normalize.css'; */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

ul,
ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("FoundersGrotesk-Light.woff2") format("woff2"), url("FoundersGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Founders Grotesk";
  src: url("FoundersGrotesk-Bold.woff2") format("woff2"), url("FoundersGrotesk-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Founders Grotesk";
  src: url("FoundersGrotesk-BoldItalic.woff2") format("woff2"), url("FoundersGrotesk-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Founders Grotesk";
  src: url("FoundersGrotesk-Semibold.woff2") format("woff2"), url("FoundersGrotesk-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Founders Grotesk";
  src: url("FoundersGrotesk-SemiboldItalic.woff2") format("woff2"), url("FoundersGrotesk-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Founders Grotesk";
  src: url("FoundersGrotesk-Regular.woff2") format("woff2"), url("FoundersGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Founders Grotesk";
  src: url("FoundersGrotesk-LightItalic.woff2") format("woff2"), url("FoundersGrotesk-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Founders Grotesk";
  src: url("FoundersGrotesk-Medium.woff2") format("woff2"), url("FoundersGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Founders Grotesk Regular";
  src: url("FoundersGrotesk-RegularItalic.woff2") format("woff2"), url("FoundersGrotesk-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Founders Grotesk";
  src: url("FoundersGrotesk-MediumItalic.woff2") format("woff2"), url("FoundersGrotesk-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
/* COLORS */
/* FONT */
/* CLASSES */
.full-height {
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: grid;
}

/* VIDEO */
#landing-video {
  /* 	position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); */
  min-width: 100vw;
  min-height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  font-family: "Founders Grotesk", Arial, sans-serif;
  width: 100vw;
}

/* SCETION 2 */
.due {
  position: relative;
  background-image: url(assets/img/discobolo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 100px;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.due h2 {
  margin-top: 30px;
  font-size: 4rem;
  font-weight: 500;
}

.due svg {
  margin-bottom: -150px;
}

.chi {
  padding: 100px;
}

.evento {
  padding: 100px;
  grid-column: 2;
  grid-row: 2;
}

nav {
  position: sticky;
  top: 0;
  background-color: #c5dbe0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  width: 100vw;
  z-index: 100;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
}

nav li {
  font-weight: 300;
}
nav li:hover {
  text-decoration: underline;
}

nav img {
  height: 40px;
  width: auto;
}

.tre {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

.tre h1 {
  font-size: 25rem;
  font-weight: 400;
}

.date {
  font-size: 2rem;
  gap: 70px;
}

footer {
  background-color: #c5dbe0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  width: 100vw;
  z-index: 100;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
}

footer li {
  font-weight: 300;
}
footer li:hover {
  text-decoration: underline;
}

footer img {
  height: 40px;
  width: auto;
}

.quattro {
  grid-template-columns: 3fr 2fr;
}

.mohole {
  background-image: url(/assets/img/mohole.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contatti {
  margin-top: 150px;
  background-image: url(/assets/img/dante.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
  padding: 70px;
}
.contatti h2 {
  font-size: 4rem;
  font-weight: 600;
}
.contatti p {
  font-size: 1.5rem;
}/*# sourceMappingURL=style.css.map */